.activationModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  &__close {
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    transform: scale(1.4);
    -moz-transform: scale(1.4);
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: inherit;
    & h2 {
      text-align: center;
      font-weight: 500;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      margin: 10px 0;
    }
    & div {
      margin-bottom: 10px;
    }
  }
  &__form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    & span {
      font-size: 85%;
      margin-bottom: 5px;
    }
    &__label {
      display: flex;
      flex-direction: column;
      & label {
        text-align: center;
        margin-right: 10px;
        & input {
          width: fit-content;
        }
      }
    }

    & input[type="text"],
    & input[type="number"],
    & input[type="email"],
    & select {
      display: flex;
      flex-direction: row;
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      background-color: white;
      overflow: visible;
      padding: 5px;
      outline: 0;
    }
  }
  &__button-group {
    display: flex;
    margin-top: 1rem;
    & button {
      cursor: pointer;
      border: 0;
      border-radius: 2px;
      outline: 0 !important;
      padding: 10px 1rem;
      font-weight: 600;
      color: white;
      background-color: var(--color-secondary);
    }
  }
}
